<b>Partlist exported from /Users/mmc/code/automatium/rpi-device/rpi1.sch at 9/16/18 12:18 PM</b>
<p>
<table>
<tr><td><b>Part</b></td><td><b>Value</b></td><td><b>Device</b></td><td><b>Package</b></td><td><b>Description</b></td><td><b>PROD_ID</b></td><td><b>VALUE</b></td></tr>
<tr><td>C1</td><td>1mF</td><td>1000UF-RADIAL-5MM-25V-20%</td><td>CPOL-RADIAL-5MM-10MM</td><td>1,000µF/1mF ceramic capacitors</td><td>CAP-09538</td><td>1mF</td></tr>
<tr><td>C2</td><td>0.1uF</td><td>0.1UF-0603-25V-(+80/-20%)</td><td>0603</td><td>0.1µF ceramic capacitors</td><td>CAP-00810</td><td>0.1uF</td></tr>
<tr><td>J1</td><td></td><td>CONN_14</td><td>1X14</td><td>Multi connection point. Often used as Generic Header-pin footprint for 0.1 inch spaced/style header connections</td><td></td><td></td></tr>
<tr><td>J2</td><td></td><td>CONN_14</td><td>1X14</td><td>Multi connection point. Often used as Generic Header-pin footprint for 0.1 inch spaced/style header connections</td><td></td><td></td></tr>
<tr><td>J3</td><td></td><td>CONN_03</td><td>1X03</td><td>Multi connection point. Often used as Generic Header-pin footprint for 0.1 inch spaced/style header connections</td><td></td><td></td></tr>
<tr><td>J4</td><td></td><td>CONN_03</td><td>1X03</td><td>Multi connection point. Often used as Generic Header-pin footprint for 0.1 inch spaced/style header connections</td><td></td><td></td></tr>
<tr><td>J5</td><td></td><td>CONN_07</td><td>1X07</td><td>Multi connection point. Often used as Generic Header-pin footprint for 0.1 inch spaced/style header connections</td><td></td><td></td></tr>
<tr><td>J6</td><td></td><td>CONN_07</td><td>1X07</td><td>Multi connection point. Often used as Generic Header-pin footprint for 0.1 inch spaced/style header connections</td><td></td><td></td></tr>
<tr><td>J7</td><td>POWER_JACK</td><td>POWER_JACK</td><td>POWER_JACK_PTH</td><td>Power Jack Connector</td><td>CONN-08197</td><td></td></tr>
<tr><td>J8</td><td></td><td>CONN_02</td><td>1X02</td><td>Multi connection point. Often used as Generic Header-pin footprint for 0.1 inch spaced/style header connections</td><td></td><td></td></tr>
<tr><td>J9</td><td></td><td>CONN_02PTH4</td><td>1X02_XTRA_BIG</td><td>Multi connection point. Often used as Generic Header-pin footprint for 0.1 inch spaced/style header connections</td><td></td><td></td></tr>
<tr><td>J10</td><td></td><td>CONN_02PTH4</td><td>1X02_XTRA_BIG</td><td>Multi connection point. Often used as Generic Header-pin footprint for 0.1 inch spaced/style header connections</td><td></td><td></td></tr>
<tr><td>Q1</td><td>4.3A/20V/54mΩ</td><td>MOSFET_PCH-IRLML2244</td><td>SOT23-3</td><td>P-channel MOSFETs</td><td>TRANS-11153</td><td>4.3A/20V/54mΩ</td></tr>
<tr><td>Q2</td><td>4.3A/20V/54mΩ</td><td>MOSFET_PCH-IRLML2244</td><td>SOT23-3</td><td>P-channel MOSFETs</td><td>TRANS-11153</td><td>4.3A/20V/54mΩ</td></tr>
<tr><td>R1</td><td>100k</td><td>100KOHM-0603-1/10W-1%</td><td>0603</td><td>100kΩ resistor</td><td>RES-07828</td><td>100k</td></tr>
<tr><td>R2</td><td>330</td><td>330OHM-0603-1/10W-1%</td><td>0603</td><td>330Ω resistor</td><td>RES-00818</td><td>330</td></tr>
<tr><td>R3</td><td>100k</td><td>100KOHM-0603-1/10W-1%</td><td>0603</td><td>100kΩ resistor</td><td>RES-07828</td><td>100k</td></tr>
<tr><td>R4</td><td>330</td><td>330OHM-0603-1/10W-1%</td><td>0603</td><td>330Ω resistor</td><td>RES-00818</td><td>330</td></tr>
<tr><td>R5</td><td>10M</td><td>10MOHM-0603-1/10W-5%</td><td>0603</td><td>RES-09327</td><td>RES-08283</td><td>10M</td></tr>
<tr><td>R6</td><td>10M</td><td>10MOHM-0603-1/10W-5%</td><td>0603</td><td>RES-09327</td><td>RES-08283</td><td>10M</td></tr>
<tr><td>R7</td><td>100k</td><td>100KOHM-0603-1/10W-1%</td><td>0603</td><td>100kΩ resistor</td><td>RES-07828</td><td>100k</td></tr>
<tr><td>R8</td><td>100k</td><td>100KOHM-0603-1/10W-1%</td><td>0603</td><td>100kΩ resistor</td><td>RES-07828</td><td>100k</td></tr>
<tr><td>U$1</td><td>RPI-ZERO</td><td>RPI-ZERO</td><td>RASPBERRYPI_BASTELSTUBE_V13_RASPI_BOARD_B+_FULL</td><td></td><td></td><td></td></tr>
</table>
