<b>Partlist exported from /Users/mmc/code/automatium/rpi-device/v2/rpi2m_valves.sch at 1/20/19 8:08 PM</b>
<p>
<table>
<tr><td><b>Part</b></td><td><b>Value</b></td><td><b>Device</b></td><td><b>Package</b></td><td><b>Description</b></td><td><b>PROD_ID</b></td><td><b>SF_SKU</b></td><td><b>VALUE</b></td></tr>
<tr><td>C2</td><td>22UF-1210-16V-20%</td><td>22UF-1210-16V-20%</td><td>1210</td><td>22µF ceramic capacitors</td><td></td><td></td><td></td></tr>
<tr><td>C9</td><td>0.1uF</td><td>0.1UF-0603-25V-(+80/-20%)</td><td>0603</td><td>0.1µF ceramic capacitors</td><td>CAP-00810</td><td></td><td>0.1uF</td></tr>
<tr><td>C10</td><td>0.1uF</td><td>0.1UF-0603-25V-(+80/-20%)</td><td>0603</td><td>0.1µF ceramic capacitors</td><td>CAP-00810</td><td></td><td>0.1uF</td></tr>
<tr><td>C11</td><td>1mF</td><td>1000UF-RADIAL-5MM-25V-20%</td><td>CPOL-RADIAL-5MM-10MM</td><td>1,000µF/1mF ceramic capacitors</td><td>CAP-09538</td><td></td><td>1mF</td></tr>
<tr><td>D1</td><td>RED</td><td>LED-RED0603</td><td>LED-0603</td><td>Red SMD LED</td><td>DIO-00819</td><td></td><td>RED</td></tr>
<tr><td>D2</td><td>GREEN</td><td>LED-GREEN0603</td><td>LED-0603</td><td>Green SMD LED</td><td>DIO-00821</td><td></td><td>GREEN</td></tr>
<tr><td>D3</td><td>RED</td><td>LED-RED0603</td><td>LED-0603</td><td>Red SMD LED</td><td>DIO-00819</td><td></td><td>RED</td></tr>
<tr><td>D4</td><td>GREEN</td><td>LED-GREEN0603</td><td>LED-0603</td><td>Green SMD LED</td><td>DIO-00821</td><td></td><td>GREEN</td></tr>
<tr><td>D5</td><td>Yellow</td><td>LED-YELLOW0603</td><td>LED-0603</td><td>Yellow SMD LED</td><td>DIO-09003</td><td></td><td>Yellow</td></tr>
<tr><td>D6</td><td>Yellow</td><td>LED-YELLOW0603</td><td>LED-0603</td><td>Yellow SMD LED</td><td>DIO-09003</td><td></td><td>Yellow</td></tr>
<tr><td>D7</td><td>Yellow</td><td>LED-YELLOW0603</td><td>LED-0603</td><td>Yellow SMD LED</td><td>DIO-09003</td><td></td><td>Yellow</td></tr>
<tr><td>D8</td><td>Yellow</td><td>LED-YELLOW0603</td><td>LED-0603</td><td>Yellow SMD LED</td><td>DIO-09003</td><td></td><td>Yellow</td></tr>
<tr><td>J1</td><td></td><td>CONN_04</td><td>1X04</td><td>Multi connection point. Often used as Generic Header-pin footprint for 0.1 inch spaced/style header connections</td><td>CONN-09696</td><td></td><td></td></tr>
<tr><td>J2</td><td></td><td>CONN_04</td><td>1X04</td><td>Multi connection point. Often used as Generic Header-pin footprint for 0.1 inch spaced/style header connections</td><td>CONN-09696</td><td></td><td></td></tr>
<tr><td>J5</td><td></td><td>CONN_025MM</td><td>SCREWTERMINAL-5MM-2</td><td>Multi connection point. Often used as Generic Header-pin footprint for 0.1 inch spaced/style header connections</td><td></td><td>PRT-08432</td><td></td></tr>
<tr><td>J6</td><td></td><td>CONN_025MM</td><td>SCREWTERMINAL-5MM-2</td><td>Multi connection point. Often used as Generic Header-pin footprint for 0.1 inch spaced/style header connections</td><td></td><td>PRT-08432</td><td></td></tr>
<tr><td>R1</td><td>680</td><td>680OHM-0603-1/10W-5%</td><td>0603</td><td>680Ω resistor</td><td>RES-09333</td><td></td><td>680</td></tr>
<tr><td>R2</td><td>680</td><td>680OHM-0603-1/10W-5%</td><td>0603</td><td>680Ω resistor</td><td>RES-09333</td><td></td><td>680</td></tr>
<tr><td>R3</td><td>68OHM-0603-1/10W-1%</td><td>68OHM-0603-1/10W-1%</td><td>0603</td><td>68Ω resistor</td><td></td><td></td><td></td></tr>
<tr><td>U9</td><td>DRV8835</td><td>DRV883X</td><td>WSON-12</td><td>DRV8835 2 Channel Motor Driver</td><td>IC-13342</td><td></td><td>DRV8835</td></tr>
</table>
